@model InCategoryEditModel

<div asp-validation-summary="All"></div>
<form method="post" asp-action="Update" asp-route-returnUrl="@ViewBag.returnUrl">
    <input type="hidden" name="Id" value="@Model.InCategory.Id" />
    <div class="form-group">
        <label asp-for="InCategory.Name">Имя</label>
        <input asp-for="InCategory.Name" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="InCategory.Description">Определение</label>
        <input asp-for="InCategory.Description" name="Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="btn btn-outline-primary" href="@ViewBag.returnUrl">Отменить</a>
</form>